.navbar .dropdown-menu{
  padding: 5px;
  background-color: black;
  margin-bottom: 0;
}

.dropdown-menu .dropdown-item {
    color: #a0a0a0;
    background-color: black;
    margin-bottom: 2px;
    border-radius: 3px;
    min-width: 220px;
  }

.navbar-collpase{
  height: 70px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

  .dropdown-menu .active {
    color: white !important; /* Fehér szöveg szín */
  }

.dropdown-menu .dropdown-item:hover {
    color: #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  }

.navbar {
  
  background-color: black;
  border-color: black;
}


.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-nav > li > a:hover {
  color: white;
}


